body {
    background-image: url("photo_2023-01-07_03-08-25.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    display: block;
    width:500px;
    margin:200px auto;
    color:green;
}
.hover{
    display: none;
}
form:hover .hover{
    display: block;
}
